 .list-friend  {
  overflow: auto;
  margin-bottom: 30px;

}

.list-friend::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.list-friend::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  height: 1px;
}

.list-friend > h1 {
  text-align: center;

}

.lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 24px 48px;
  height: 70vh;
}

.card {
  font-family: Alata;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 18px 18px 40% 18px;
  background-color: #fff;
  position: relative;
  width: 280px;
  height: 280px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-8px);
}

.top-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  height: 84px;
  border-radius: 8px 8px 0px 0px;
}
.card > img {
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  z-index: 999;
  object-fit: cover;
}

.card-texts {
  text-align: center;
  width: 100%;
}

/* .card > p {
font-size: var(--pS-size);
color: #666;
margin-top: 0px !important;
margin-bottom: 0px !important;
} */

.name-card {
  font-size: var(--h6-size);
}

.age-card {
  font-size: var(--pM-size);
  color: #00000093;
}

.subtitle-card {
  font-size: var(--pL-size);
}

.text-card {
  font-size: var(--pL-size);
  text-align: unset;
  width: 100%;
  
}
.button-card {
  position: absolute;
  width: 84.8%;
  text-align: center;
  bottom: 0;
  left: 0;
  padding: 16px 24px;
  background-color: var(--quaternary-color);
  color: #fff;
  border-radius: 0 0 8px 8px;
  transition: background-color 0.3s ease;
}



.button-card > a {
  text-decoration: none;
  color: #000;
}

.button-card:hover{
  background-color: var(--tertiary-color);

}

.modalF {
  position: fixed;
  height: 500px;
  top: 55%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  width: 500px;
  z-index: 999;
  transition: all 0.3s ease;
  object-fit: cover;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  
}

.closeicon-list- {
  position: absolute;
  right: 28%;
  top: 14%;
  transform: translateY(-50%);
  cursor: pointer;
  font: 50px;
}


/* Estilo para el contenedor principal */
.search-filters-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Estilo para el campo de búsqueda */
.search-input {
  flex: 1; /* Toma el espacio restante */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  width: 45%;
  margin-bottom: 20px;
}

.filteres-select{
  border: 1px solid #ccc;
  display: flex;
  padding: 10px;
  border-radius: 5px;
}
/* Estilo para los selectores */
.filter-select {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  width: 150px;
  flex-direction: column;
}

/* Estilo para las etiquetas de filtro */
.filter-label {
  margin-right: 10px;
  font-weight: bold;
}

/* Estilo específico para el selector de Edad */
.age-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column ;
  width: 80px;
  font-size: 16px;
}

/* Estilo para el botón "Buscar" (opcional) */
.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo para las opciones dentro de los selectores */
.filter-select option {
  font-size: 16px;
}

.no-friends-message{
  position: absolute;
  font-size: 30px;
  top: 70%;
  font-weight: 600;
}

.close {
  position: absolute;
  color: #fff;
  background: red;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  top: 90%;
  left: 50%;
}



