.modal-notification {
  position: absolute;
  top: 35%;
  left: 80%;
  transform: translate(-50%, -50%); /* Centra el modal exactamente en el centro de la ventana */
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega sombra para resaltar el modal */
  z-index: 9999;
  width: 30%; 
  height: 350px;
  overflow: auto;
}

.boton-notificaciones {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.boton-notificaciones button:hover {
  color: red;
}

.modal-notification::-webkit-scrollbar {
  width: 7px;
  height: 2px;

}

.modal-notification::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  
}


.logo-img{
  width: 120px;
}

.navbar-body{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 48px;
  
  background-color: var(--primary-color);
  
}

.navbar-options-list{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.navbar-option{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 0px;
  margin: 0 10px;
  border: none;
  background-color: var(--primary-color);
  color: #000;
}

.navbar-option:hover{
  background-color: var(--secondary-color);
  color: #fff !important;
  border-radius: 4px;
}

.navbar-option.active {
  border-bottom: 4px solid var(--secondary-color);
  border-radius: none;
}

a{
  text-decoration: none;
  font-size: var(--pL-size);
  font-weight: 500;
}

.card-modal-notification > img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 24px;
  
}

.card-modal-notification{
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #ccc;
  align-items: center;
  gap: 24px;
  font-family: Alata;
  border-radius: 6px;
  padding: 12px 8px;
  font-size: 16px;
}

.name-card{
  font-size: 24px;
  font-weight: 600;
  display: inline;
}

.timePassed{
  font-size: 13px;
}

.no_reading_card{
  background-color: #ccc;
  border: solid 0.5px #7e7e7e;
    border-radius: 4px;
    margin: 2px 0 5px 0;
    border: solid 0.5px #7e7e7e;
}


.reading{
  padding: 5px;
  background-color: rgb(228, 237, 237);
  border-radius: 5px;
  margin-left: 10px;
  font-size: 11px;
}

.no_reading{
  padding: 3px;
  background-color: rgb(239, 221, 150);
  border-radius: 5px;
  font-size: 11px;
  margin-left: 10px;
}

.footer_notification{
  display: flex;
  padding: 0;
  margin: 0;
}

.btn-notifications{
  border-radius: 5px;
  margin-right: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 15px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.user-sesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid;
  background-color: var(--primary-color);
  color: #000;

}

.logout:hover{
  background-color: var(--secondary-color);
  color: #fff !important;
}

.user-sesion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

