/* chatList.css */

.chatListContainer {
    flex: 1;
    width: 900px;
    border-left: 1px solid #000;
    border-radius: 8px 0px 0px 8px;
    overflow: hidden;
    background: #fff;
}

.chatListSearch {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    padding: 9.5px 9.5px 9.5px 30px;
    background: linear-gradient(to right, #d69c4a, #FBA834);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 60px;
}

.chatListSearchBar {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    padding: 10px;
    background-color: #ccc;
}

.chatListSearchInput {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000;
}

.chatListItem {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    background: none;
    transition: background-color 0.3s ease;
    border-radius: 2px;
    padding: 5px;
    margin: 4px;
    width: 98%;
    border: none;
}

.last-message{
    gap: 10px;
}



.chatListAvatarLarge {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chatListItemTexts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
}

.chatListItemName {
    font-weight: 700;
    color: var(--secondary-color);
    
}

.chatListItemMessage {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.button-back {

    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-chatList {
    overflow-y: scroll;
    height: 470px;
    margin: 34px 1px -25px 0px;

}

.user-chatList::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}

.user-chatList::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
    height: 3px;
}

.chatListItemName.highlight {
    background-color: yellow;
    font-weight: bold;
}

.selected {
    background-color: #f8a40871; 
    margin: 0;
    padding: 9px 0px 8px 13px;
}
.user-info-personal{
    color: #fff;
    
}
.last-time{
    position: absolute;
    display: flex;
    justify-content: end;
    margin-left: 80%;
    align-items: end;
    margin-bottom: 5%;
    z-index: 9999;
}

.chatListPlaceholder {
    text-align: center;
    color: #888;
    padding: 20px;
    font-size: 16px;
}
