.chat-container {
  display: flex;
  flex-direction: column;
  width: 464px;
  height: 631px;
  border-right: 1px solid var(--secondary-color);
  border-top: 1px var(--secondary-color);
  border-radius: 0px 6px 6px 0px;
  overflow: hidden;
  background-color: #fff;

  box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 0.1);
}

.chat-body::-webkit-scrollbar {
  width: 7px;
  height: 2px;
}

.chat-body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  height: 3px;
}

.containerChat-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #fdc980 0%, #5f3501 100%);
  overflow-y: auto;
}

.message-chat {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 900px;
  margin-bottom: 130px;
}

.chat-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 464px;
  height: 631px;
  border-radius: 0px 4px 4px 0px;
  overflow: hidden;
  background: linear-gradient(to right, #fba834, #f7bd0f);
}

.chat-placeholder-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 464px;
    height: 76%;
    border-radius: 0px 4px 4px 0px;
    overflow: hidden;
    background: linear-gradient(to right, #f7f7f7, #ecebe8);
}

.login-logo-chat {
  width: 451px;
  height: auto;

  filter: brightness(-1.1) blur(4px) opacity(0.6);
  position: relative;
  top: 10px;
  z-index: 1;
}

.chat-placeholder h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.chat-placeholder p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to right, #fba834, #d69c4a);
  color: #fff;
  height: 60px;
}

.header-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  object-fit: cover;
}

.avatar-chat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.user-info h3 {
  margin: 0;
  font-size: 16px;
}

.user-info p {
  margin: 0;
  font-size: 12px;
  color: #ddd;
}

.chat-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  color: var(--secondary-color);
}

.incoming {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.outgoing {
  align-self: flex-end;
  background-color: var(--quaternary-color);
  color: #fff;
}

.message-content {
  display: flex;
  align-items: center;
  align-items: flex-start;
  word-wrap: break-word;
  flex-direction: column;
}

.message-text {
  max-width: 100%;
  border-radius: 20px;
  margin-right: 20px;
  background-color: #f0f0f0;
  color: var(--secondary-color);
}

.outgoing .message-text {
  background-color: var(--quaternary-color);
  color: #2c2929;
  margin: 0;
  align-self: flex-end;
}

.message-time {
  font-size: var(--pS-size);
  color: #000;
  margin-top: 4px;
  align-self: flex-end;
}

.chat-input {
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.new-message {
  display: flex;
  align-items: center;
}

.new-message input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.new-message button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: var(--tertiary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add {
  width: 36px;
  height: 36px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.date-chat {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-counter-container {
  position: relative;
  margin-left: 45px;
}

.char-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  top: -8px;
  font-size: 12px;
  color: gray;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button.disabled {
  background-color: #cccccc;
  color: #666666;
}
